body {
    font-family: "Outfit", sans-serif;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
    position: relative;
    margin: 0;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(playa1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.3;
    z-index: -1;
}

header {
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    color: #516375;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.mada {
    color: #ff0000;
}

.gascar {
    color: #008d15;
}

.lobster-two-bold {
    font-family: "Lobster Two", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 300%;
    color: #516375;
    padding-left: 2%;
}

nav {
    padding-right: 5%;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 15px;
}

ul li a {
    color: var(--loader-color);
    text-decoration: none;
    transition: 0.3s;
}

nav ul li:last-child a:hover {
    color: rgb(134, 155, 167);
}

.button {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    padding: 12px 24px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    background-color: #516375;
    border-radius: 8px;
    border-style: none;
    transition: 0.3s ease;

}


.button:hover {
    background-color: white;
    color: #516375;
    border-style: solid;
}

.contact {
    display: flex;
    direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 30%;

}

footer h2 {
    font-size: 1.5em;
    color: #516375;
    margin-bottom: 10px;
    font-family: "Outfit", sans-serif;
}

footer p {
    font-size: 1em;
    color: #516375;

}

.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}

.intro p {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6em;
    color: #516375;
    display: flex;
    justify-content: left;
    max-width: 50%;
    line-height: 1.6;
}

.cartemada {
    width: 180px;
    height: auto;
    border-radius: 20px 0 0 0;
    transition: transform 0.3s ease;
    padding-right: 6%;
    padding-top: 5%;
}

.cartemada:hover {
    transform: scale(1.6);
}

.gallery {
    text-align: center;
    padding: 20px;
}

.gallery h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #516375;
}

.images-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}

.circular-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: transform 1s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.circular-img:hover {
    transform: scale(1.8) rotate(360deg);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.titre {
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 200%;
    color: #ffffff;
    padding-left: 2%;
}

h2 {
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #516375;
}

.pages {
    background-color: #516375;
}

.contact-page {


    padding-left: 2%;
    color: #516375;
}

.retour{
    padding-left: 1%;
    padding-top: 5%;
}

git config --global user.email "hokoloina.raveloson@etu.unicaen.fr"
git config --global user.name "Hokoloina"